/Add.class
/Alphabet.class
/Assign.class
/Bill.class
/Bitwise.class
/Calculation.class
/Compare.class
/Day.class
/Demo.class
/Digit.class
/Divisible.class
/Equal.class
/Even.class
/Foreach.class
/Foreachloop.class
/Ifelse.class
/Ifelsetest.class
/Ifnested.class
/Labelfor.class
/Maximum.class
/Narrowing.class
/Rectangle.class
/Vote.class
/Whileloop.class
/Whileloop2.class
/Widening.class
/Basic.class
/cotrolstatement.class
