/Add.class
/Alphabet.class
/Army.class
/Assign.class
/Babueven.class
/Bill.class
/Bitwise.class
/By.class
/Calculation.class
/Compare.class
/Countnotes.class
/Day.class
/Demo.class
/Digit.class
/Divisible.class
/E.class
/Equal.class
/Even.class
/F.class
/Fact.class
/Foreach.class
/Foreachloop.class
/Forloop.class
/G.class
/GFG.class
/Gen.class
/H.class
/Ifelse.class
/Ifelsetest.class
/Ifnested.class
/Juli.class
/Labelfor.class
/Leap.class
/Max3.class
/Maximum.class
/Month.class
/Narrowing.class
/Nestedforloop.class
/Papu.class
/Positive.class
/Power.class
/Profit.class
/Pyramid.class
/Q.class
/R.class
/Rectangle.class
/Si.class
/Simpleintrest.class
/Sqrt.class
/Star.class
/Student.class
/Switch.class
/Traingle.class
/U.class
/Vote.class
/Vowel.class
/W.class
/Whileloop.class
/Whileloop2.class
/Widening.class
/m.class
/p.class
/s.class
