/First.class
/Biswa.class
/Second.class
/PredicateDemo.class
/PredicateDemo2.class
/PredicatePersonDemo.class
/Person.class
/PredicateJoiningDemo.class
/Employee.class
/SupplierDemo.class
/ConsumerDemo.class
/FunctionDemo.class
/Runnable.class
/ThreadDemo.class
/NumberSort.class
/ForEach.class
/Supplier.class
/SupplierDemo2.class
/FunctionDemo2.class
/Sum.class
/Main.class
/StringjoinerDemo.class
/User.class
/OptionalDemo.class
/OptionalMain.class
