/filedirectory.class
/Persist.class
/Student.class
/Depersist.class
/Person.class
/Person$student.class
/Person$test.class
/test.class
/test$student.class
/Person$emp.class
/emp.class
/Exercise1.class
/Exercise2.class
/Exercise2$1.class
