/New.class
/string2.class
/String3.class
/Codepoint.class
/Compare.class
/Ignore.class
/Concatinated.class
/Contains.class
/Comparesequence.class
/copyvalue.class
/Endswith.class
/Equals.class
/indexof.class
/Concat.class
/Stringconcatination.class
/StringConcatenation.class
/Practice1.class
/Box.class
/Testbox.class
/Practicw1.class
/Practice2.class
/Test.class
