/First.class
/FilterDemo.class
/FilterDemo2.class
/UserFilter.class
/User.class
/MapDemo.class
/MapFilter.class
/EmployeeDemo.class
/Employee.class
/FlatMapDemo.class
/Sliceingdemo.class
/MatchingDemo.class
/Person.class
/CollectorDemo.class
/Person1.class
/MAX_MIN_AVG.class
/Teacher.class
/ParallelDemo.class
