/Calculation.class
/Fibonacciseries.class
/Fibonicciseries.class
/Palindromenumber.class
/Pallendromenumber.class
/Primenumber.class
/Exam.class
/CodeMerging.class
/MergeString.class
/MergeStrings.class
